.nm-dropdown {
  height: 100px;
  overflow: hidden;
  border-top: solid 1px #f9bc64;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}
